@font-face {
  font-display: block;
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 100;
  src: local('Gotham Thin'), local('Gotham-Thin'),
    url('Gotham-Thin.woff2') format('woff2'),
    url('Gotham-Thin.woff') format('woff');
}

@font-face {
  font-display: block;
  font-family: 'Gotham';
  font-style: italic;
  font-weight: 100;
  src: local('Gotham Thin Italic'), local('Gotham-ThinItalic'),
    url('Gotham-ThinItalic.woff2') format('woff2'),
    url('Gotham-ThinItalic.woff') format('woff');
}

@font-face {
  font-display: block;
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 200;
  src: local('Gotham Extra Light'), local('Gotham-ExtraLight'),
    url('Gotham-ExtraLight.woff2') format('woff2'),
    url('Gotham-ExtraLight.woff') format('woff');
}

@font-face {
  font-display: block;
  font-family: 'Gotham';
  font-style: italic;
  font-weight: 200;
  src: local('Gotham Extra Light Italic'), local('Gotham-ExtraLightItalic'),
    url('Gotham-ExtraLightItalic.woff2') format('woff2'),
    url('Gotham-ExtraLightItalic.woff') format('woff');
}

@font-face {
  font-display: block;
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 300;
  src: local('Gotham Light'), local('Gotham-Light'),
    url('Gotham-Light.woff2') format('woff2'),
    url('Gotham-Light.woff') format('woff');
}

@font-face {
  font-display: block;
  font-family: 'Gotham';
  font-style: italic;
  font-weight: 300;
  src: local('Gotham Light Italic'), local('Gotham-LightItalic'),
    url('Gotham-LightItalic.woff2') format('woff2'),
    url('Gotham-LightItalic.woff') format('woff');
}

@font-face {
  font-display: block;
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 400;
  src: local('Gotham Book'), local('Gotham-Book'),
    url('Gotham-Book.woff2') format('woff2'),
    url('Gotham-Book.woff') format('woff');
}

@font-face {
  font-display: block;
  font-family: 'Gotham';
  font-style: italic;
  font-weight: 400;
  src: local('Gotham Book Italic'), local('Gotham-BookItalic'),
    url('Gotham-BookItalic.woff2') format('woff2'),
    url('Gotham-BookItalic.woff') format('woff');
}

@font-face {
  font-display: block;
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 500;
  src: local('Gotham Medium'), local('Gotham-Medium'),
    url('Gotham-Medium.woff2') format('woff2'),
    url('Gotham-Medium.woff') format('woff');
}

@font-face {
  font-display: block;
  font-family: 'Gotham';
  font-style: italic;
  font-weight: 500;
  src: local('Gotham Medium Italic'), local('Gotham-MediumItalic'),
    url('Gotham-MediumItalic.woff2') format('woff2'),
    url('Gotham-MediumItalic.woff') format('woff');
}

@font-face {
  font-display: block;
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 700;
  src: local('Gotham Bold'), local('Gotham-Bold'),
    url('Gotham-Bold.woff2') format('woff2'),
    url('Gotham-Bold.woff') format('woff');
}

@font-face {
  font-display: block;
  font-family: 'Gotham';
  font-style: italic;
  font-weight: 700;
  src: local('Gotham Bold Italic'), local('Gotham-BoldItalic'),
    url('Gotham-BoldItalic.woff2') format('woff2'),
    url('Gotham-BoldItalic.woff') format('woff');
}

@font-face {
  font-display: block;
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 900;
  src: local('Gotham Black'), local('Gotham-Black'),
    url('Gotham-Black.woff2') format('woff2'),
    url('Gotham-Black.woff') format('woff');
}

@font-face {
  font-display: block;
  font-family: 'Gotham';
  font-style: italic;
  font-weight: 900;
  src: local('Gotham Black Italic'), local('Gotham-BlackItalic'),
    url('Gotham-BlackItalic.woff2') format('woff2'),
    url('Gotham-BlackItalic.woff') format('woff');
}
@font-face {
  font-display: block;
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 950;
  src: local('Gotham Ultra'), local('Gotham-Ultra'),
    url('Gotham-Ultra.woff2') format('woff2'),
    url('Gotham-Ultra.woff') format('woff');
}

@font-face {
  font-display: block;
  font-family: 'Gotham';
  font-style: italic;
  font-weight: 950;
  src: local('Gotham Ultra Italic'), local('Gotham-UltraItalic'),
    url('Gotham-UltraItalic.woff2') format('woff2'),
    url('Gotham-UltraItalic.woff') format('woff');
}
