* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --main-bg-color: #E6EBEF;
    --primary-color: #00A6C8;
    --grey-lighter: #B3C1CD;
    --grey-blue: #335978;
    --red: #E30F3D;
    --orange: #FF9D43;
    --green: #7DB13A;
    --grey-darker: #252828;
    --white-grey: #EDEDED;
    --white: #FFFFFF;
    --grey:#868686;
}

body {
    background-color: var(--main-bg-color);

    width: 100vw;

    color: var(--grey-darker);

    font-family: "Gotham", "Arial", sans-serif;

    display: flex;
}

.menu {
    width: 64px;

    background-color: var(--grey-darker);
}

.content {
    width: 100%;
    height: 100%;

    background-color: var(--grey-white);
}

.navbar-top {
    width: 100%;
    height: 60px;

    background-color: var(--white);
}

.navbar-container {
    width: 100%;
    display: flex;
    /* align-items: center; ceci ne marche pas du coup j'ai mit un padding */
    padding-top: 23px;
    justify-content: center;

    font-style: normal;
    font-weight: 400;

    color: var(--grey);
}

.navbar-container p{
    padding-right: 32px;
    /* j'ai mit un p c'etait pour faire l'espace
    entre les mots de la navbar,
    parce que avec justify-content il prend des mesures 
    par défaut et du coup sa ne donne pas le rendu*/
}

.text-style {
    font-weight: 500;
    font-style: normal;

    color: var(--grey-darker); 
    
}

.main {
    width: calc(100% - 60px);
    height: 100%;

    overflow: auto;
}

.container {
    width: 100%;

    padding: 72px;
}

.buttons-container {
    width: 100%;

    margin-bottom: 32px;
}

.button-left-icon {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
    background-color: var(--white);
    border: none;

    box-shadow: 0px 4px 8px rgba(0, 48, 86, 0.3);
    border-radius: 5px;
    padding: 14px;

    color: var(--grey-darker);
    
    font-weight: 800;
}

.button-left-icon:hover{
    box-shadow: 0px 4px 16px rgb(0 48 86 / 60%);
}

.button-left-icon span {
    padding-right: 10px;
}

.cards-container {
    width: 600px;

    background-color: var(--grey-white);

    display: flex;
    flex-direction: column;
}

.card {
    margin-bottom: 24px;
    padding: 24px;
    background-color: var(--white);

    border-radius: 8px;
    box-shadow: rgb(0 48 86 / 10%) 0px 4px 8px;
}

.card-header {
    display: flex; /* ceci n'est pas inutile, je pense plus tot que le probleme vers d'autre part, peut-etre une div parent*/
}

.icon-medium {
    width: 32px;
    height: 32px;

    background-color: black;

    border-radius: 40px;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-right: 16px;

    flex-shrink: 0;
}

.bg-orange {
    background-color: var(--orange) !important;
}

.bg-green {
    background-color: var(--green) !important;
}

.remove-margin-bottom {
    margin-bottom: 0 !important;
}


.circle {
    width: 3px;
    height: 3px;
    background-color: var(--white);
    border-radius: 40px;
    margin: 1px;
}

.text-container {
    width: 100%;
}

.category-card-title{
    color: var(--grey-blue);

    font-weight: 800;
    font-size: 10px;

    margin-bottom: 8px;
}
.category-card-language{
    color: var(--grey);

    font-weight: 400;
    font-size: 14px;

    margin-bottom: 8px;
}

.category-card-translation{
    
    font-weight: 400;
    font-size: 14px;

    margin-bottom: 16px;
}

.text-danger{
    color: var(--red);

    font-weight: 800;
    font-size: 14px;
}

.card-content {
    width: 100%;
    padding-left: 48px;
    padding-right: 32px;
}

.barre-de-separation{
    width: 100%;

    border: 1px solid var(--main-bg-color);

    margin-top: 24px;
    margin-bottom: 24px;
}

.fleche-information-suplementaire {
    margin-left: 24px;
    margin-top: 15px;
}


