
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --main-bg-color: #E6EBEF;
    --main-bg-color2: #00A6C8;
}

body{
    background-color: var(--main-bg-color);
    font-family: "Gotham";
    
    width: 100%;
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.home{
    width: 470px;

    padding: 24px;

    background-color: white;

    border-radius: 8px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card-header{
    width: 100%;

    padding-top: 8px;
    padding-bottom: 32px;
}

.card-title {
    width: 100%;

    font-size: 16px;

    display: flex;
    align-items: center;
    justify-content: center;
}

#connexion {
    font-size: 14px;
}

.form-input input{
    width: 422px;
    
    background-color: var(--main-bg-color);
    
    color:#B3C1CD;

    padding: 12px;
    margin-top: 8px;
    margin-bottom: 24px;
    
    border-radius: 8px;
    border: 0px;
}

input:hover {
    border: 1px solid #00A6C8;
}

.form-buttons{
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: flex-end;

    margin-top: 34px;
    margin-bottom: 25px;
}

#forgotyourpassword a{
    padding: 12px 8px;
    margin-bottom: 24px;

    font-size: 14px;

    color: #00A6C8;

    border: none;
    text-decoration: none;
}

#login a{
    padding: 12px 24px;
    
    font-size: 14px;

    text-decoration: none;

    background-color: var(--main-bg-color2);
    color: white;

    border: #00A6C8;
    border-radius: 40px;
}

footer {
    width: 100%;
    

    display: flex;
    justify-content: flex-end;

    color: #B3C1CD;
    font-size: 10px;
}

.version-text{
    padding: 32px;
}