* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --main-bg-color: #E6EBEF;
    --primary-color: #00A6C8;
    --grey-lighter: #B3C1CD;
    --color-text-black: #252828;
    --white: #FFFFFF;
}

body{
    background-color: var(--main-bg-color);
    
    font-family: "Gotham", "Arial", sans-serif;
    font-style: normal;
    font-weight: 700;

    width: 100%;
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    color: var(--color-text-black);
}

.card{
    width: 470px;

    padding: 24px;

    background-color: var(--white);

    border-radius: 8px;

    flex-direction: column;
}

.card-header{
    width: 100%;

    padding-top: 8px;
    padding-bottom: 32px;
}

.card-title {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.card-header h1{
    font-size: 16px;
}

#connexion {
    font-size: 14px;
    margin-bottom: 34px;
}
.form-input{
    font-style: normal;
    font-weight: 500;
    text-decoration: var(--grey-lighter);
}

.email::placeholder{
    color: var(--grey-lighter);
    
}

.password::placeholder{
    color: var(--grey-lighter);
    
}

.form-input input{
    width: 100%;
    
    background-color: var(--main-bg-color);
    
    color:var(--grey-lighter);

    padding: 12px;
    margin-top: 8px;
    margin-bottom: 24px;
    
    border-radius: 8px;
    border: 0px;
}

input:hover {
    border: 1px solid var(--primary-color);
}

.form-buttons{
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.form-buttons p {
    padding: 12px 8px;

    font-style: normal;
    font-weight: 500;
}

p{
    border: none;
}

#login{
    padding: 12px 24px;
  
    background-color: var(--primary-color);
    opacity: 0.3;
    border: var(--primary-color);
    border-radius: 40px;
}

#login a{
    color: var(--white);
}

a{
    font-size: 14px;
    color: var(--primary-color);
    
    text-decoration: none;
}

footer {
    width: 100%;
    
    display: flex;
    justify-content: flex-end;

    color: var(--grey-lighter);
    font-size: 10px;

    position: absolute;
    bottom: 0;
}

#version-text{
    padding: 32px;
}